SwiftSImpleTP/SwiftSImpleTP.xcodeproj/xcuserdata/civetta.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SwiftSImpleTP/SwiftSImpleTP.xcodeproj/xcuserdata/civetta.xcuserdatad/xcschemes/SwiftSImpleTP.xcscheme
SwiftSImpleTP/SwiftSImpleTP.xcodeproj/xcuserdata/civetta.xcuserdatad/xcschemes/xcschememanagement.plist
UserInterfaceState.xcuserstate
